<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @resource.author %>
</p>

<p>
  <b>Common core:</b>
  <%= @resource.common_core %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p>
  <b>Educational use:</b>
  <%= @resource.educational_use %>
</p>

<p>
  <b>In language:</b>
  <%= @resource.in_language %>
</p>

<p>
  <b>Intended end use role:</b>
  <%= @resource.intended_end_use_role %>
</p>

<p>
  <b>Interactivity type:</b>
  <%= @resource.interactivity_type %>
</p>

<p>
  <b>Is based on url:</b>
  <%= @resource.is_based_on_url %>
</p>

<p>
  <b>Learning resource type:</b>
  <%= @resource.learning_resource_type %>
</p>

<p>
  <b>Location:</b>
  <%= @resource.location %>
</p>

<p>
  <b>Publisher:</b>
  <%= @resource.publisher_id %>
</p>

<p>
  <b>Time required:</b>
  <%= @resource.time_required %>
</p>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Typical age range:</b>
  <%= @resource.typical_age_range %>
</p>

<p>
  <b>Use rights url:</b>
  <%= @resource.use_rights_url %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
